*
{
    padding: 0px;
    margin: 0px;

    box-sizing: border-box;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

.a-card, .mp-card, .big-card, .small-card, .filter-link {
    cursor: pointer;
}

input { 
    border-style: hidden;
    outline: none;
}

::placeholder {
    color: black;
    opacity: 1;
}
    
:-ms-input-placeholder {
    color: black;
}
    
::-ms-input-placeholder {
    color: black;
}

/* Just padding everything! */
.header-link
{
    padding: 4vw 0px;
}

.header-links, .logo, .search, .results, .activities, footer
{
    /* padding-right: 60px; */
    /* padding-left: 60px; */
    padding-right: 3vw;
    padding-left: 3vw;
}


/*                          */

/* STUFF THAT NEEDS TO NOT SHRINK */

.filter-icon, .info-icon, .mp-card-title, .mp-card
{
    flex-shrink: 0;
}


.small-text
{
    font-size: 20px;
}

.med-text
{
    font-size: 24px;
    font-weight: bold;
}

.big-text
{
    font-size: 30px;
    font-weight: bold;
}

.name-text
{
    font-size: 22px;
    font-weight: bold;
}

header 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* FIX */
.logo 
{
    width: 250px;
    height: 20px;
    height: fit-content;
    object-fit: contain;
}

.header-links
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.header-link 
{
    text-align: center;
    border-top: 3px solid transparent;
}

.header-link:hover
{
    color: #5105ff;
    border-top: 3px solid #5105ff;
}

#hl-accomodations {
    width: 210px;
}

#hl-activities {
    width: 170px;
}

main
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search
{
    /* min-height: 40vh; */


    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.hook
{
    display: flex;
    flex-direction: column;

}

.hook-text
{
    margin-bottom: 8px;
}

.search-bar
{
    border: 2px solid whitesmoke;
    border-radius: 17px;

    width: 500px;
    height: 75px;

    margin: 20px 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sb-icon 
{
    background-color: whitesmoke;

    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;

    height: 100%;
    width: 15%;

    padding: 20px;

    text-align: center;
}

.sb-field
{
    width: 70%;

    padding: 20px;
}

.sb-submit
{
    background-color: #5105ff;
    outline: none;
    box-shadow: none;
    border: none;

    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;

    width: 30%;
    height: 100%;

    text-align: center;

    padding: 15px;

    color: white;
}

.sb-submit:hover
{
    background-color: rgb(0, 100, 255);
}

.fa-magnifying-glass.fa-solid {
    display: none;
}

.filters
{
    margin: 30px 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.filters-text
{
    margin-right: 40px;
    align-self: flex-start;
    padding: 15px 0;
}

.filter-links
{
    /* flex: 2; */

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 20px;
}


.filter-link
{
    border: 2px solid lightgray;
    border-radius: 32px;

    /* height: 50px; */

    /* padding: 10px; */
    margin: 0px 20px;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.filter-link:hover
{
    background-color: whitesmoke;
}

.filter-text
{
    padding: 0px 20px;
}

.filter-icon
{
    width: 60px;
    height: 60px;

    border-radius: 50px;
    background-color: #dee7ff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-icon > i {
    color:#5105ff;
} 

.info 
{
    margin: 20px 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-icon
{
    border: 2px solid lightgray;
    border-radius: 30px;

    width: 30px;
    height: 30px;

    margin-right: 10px;
    padding-top: 3px;

    text-align: center;
}

.info-icon > i {
    color: #5105ff;
}

.results
{
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    min-height: 95vh;
}

.accomodations
{
    border-radius: 32px;
    background-color: whitesmoke;

    /* min-height: 80vh; */
    /* height: 100%;    */
    width: 75%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 40px 50px;
    margin-right: 45px;
}

.a-text
{
    padding-bottom: 40px;
}

.a-cards
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;

    row-gap: 40px;
    height: 80%;
}

.a-card
{
    display: flex;
    flex-direction: column;

    /* border: 2px solid lightgray; */
    border-radius: 30px;
    background-color: white;
    box-shadow: 2px 2px 18px lightgrey;

    width: 31%;
    /* height: 46%; */
    height: auto; /* Why does this work?*/
    /* height: 280px; */

    padding: 7px;
}

.a-card:hover
{
    background-color: whitesmoke;
}

.fa-star {
    font-size: 16px;
}

.fa-star.fa-solid {
    color: #5105ff;
    width: 14px;
}

.fa-star.fa-solid.empty {
    color: lightgray;
}

.mp-star > .fa-star {
    color: black;
    font-size: 24px;
}

.a-img
{
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;

    width: 100%;
    /* height: 60%; */
    /* height: 18vh; */
    height: 155px;
    object-fit: cover;
}

.a-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    padding: 10px;

    height: 40%;
}

.a-show-more
{
    padding-top: 30px;
    padding-bottom: 10px;

    width: fit-content;
}

.a-show-more:hover {
    color: gray;
}

.most-popular
{
    border-radius: 32px;
    background-color: whitesmoke;

    /* height: 80vh; */
    width: 32%;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;


    padding: 40px 3vw;
}

.label
{
    width: 100%;

    display: flex;
    justify-content: space-between;

    padding-bottom: 30px;
}

.mp-cards
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    /* height: auto; */

    /* gap: 5vh; */
    gap: 6%;
}

.mp-card
{
    /* border: 2px solid grey; */
    border-radius: 28px;
    background-color: white;
    box-shadow: 2px 2px 7px 2px lightgray;

    height: 28%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    flex-shrink: 0;
    flex-grow: 1;

    padding: 7px;
}

.mp-card:hover
{
    background-color: whitesmoke;
}

.mp-card-right
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 15px;
    padding-right: 0;

    width: 50%;
}

.mp-card-title
{
    width: 100%;

    /* text-overflow: ellipsis;
    white-space: nowrap; */
}

.mp-img
{
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;

    width: 40%;
    height: 100%; 
    object-fit: cover;
}

.activities
{
    /* height: 85vh; */
    width: 100%;

    margin-top: 80px;
    margin-bottom: 80px;

    display: flex;
    flex-direction: column;
}

.act-text {
    padding-bottom: 25px;
}

.act-cards
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 40px;
}

.big-card
{
    border: 2px solid whitesmoke;
    border-radius: 30px;
    box-shadow: 3px 2px 5px 1px whitesmoke;

    width: 22vw;
    /* height: 70vh; */
    /* height: 600px; */
    /* height: fit-content; */
    height: auto;
}

.big-card:hover {
    background-color: whitesmoke;
}

.big-card>img
{
    border-radius: 30px 30px 0 0;

    /* height: 87%; */
    height: 530px;
    width: 100%;
    object-fit: cover;
}

.act-card-title {
    width: 100%;
    padding: 20px;
}

.vert
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* height: fit-content; */
}

.small-card
{
    border: 2px solid whitesmoke;
    border-radius: 30px;
    box-shadow: 3px 2px 5px 1px whitesmoke;

    width: 22vw;
    /* height: 32vh; */
    /* height: 260px; */
}

.small-card:hover {
    background-color: whitesmoke;
}

.small-card > .act-card-title {
    padding: 24px 20px;
}

.small-card>img
{
    border-radius: 30px 30px 0 0;

    /* height: 70%; */
    height: 190px;
    width: 100%;
    object-fit: cover;
}

#pomegues {
    /* height: 37vh; */
    /* height: 300px; */
    height: auto;
}

#pomegues > img {
    /* height: 75%; */
    height: 230px;
}

#pomegues > .act-card-title {
    padding: 23px 20px;
}

/* #frioul {
    height: 27vh;
    height: 240px;
} */

#frioul > img{
    /* height: 70%; */
    height: 170px;
}

footer
{
    background-color: whitesmoke;
    

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    padding-top: 60px;
    padding-bottom: 60px;
}

.section
{
    width: 35vw;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.category
{
    padding-bottom: 20px;
}

.link
{
    width: fit-content;
    padding: 10px 0;
}

.link:hover {
    color: gray;
}

@media(max-width: 992px) and (min-width: 768px) {
    .header-links, .logo, .search, .results, .activities, footer
    {
        padding-right: 30px;
        padding-left: 30px;
    }

    .filter-links {
        flex-wrap: wrap;
        justify-content: flex-start;
        row-gap: 10px;
    }

    .filters-text {
        height: 100%;
        padding: 15px 0px;

        align-self: flex-start;
    }

    .results {
        flex-direction: column-reverse;

        height: fit-content;
    }

    .accomodations {
        width: 100%;
        margin-bottom: 20px;
        /* height: 90vh; */
    }

    .most-popular {
        flex-direction: column;

        width: 100%;
        /* height: 50vh; */

        padding: 50px 30px;

        margin-bottom: 50px;
    }

    .mp-cards {
        flex-direction: row;
        gap: 10px;
        padding: 0;
    }

    .mp-card {
        border-radius: 20px;
        background-color: white;
        box-shadow: 0px 0px 5px lightgray;

        flex-grow: 0;

        width: 30%;
        height: auto;
        /* height: 280px; */

        padding: 7px;
    }

    .mp-img {
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;

        width: 100%;
        height: 155px;
    }

    .mp-card-right {
        flex-direction: column;
        width: 100%;
        /* height: 50%; */
        padding: 10px;
        padding-right: 0;
        
        flex-grow: 1;
    }

    .activities {
        margin-bottom: 30px;
    }

    .act-cards {
        flex-wrap: wrap;
        gap: 6vw;
    }

    .big-card > img {
        height: 230px;
        width: 27vw;
    }

    .big-card, .small-card {
        width: 27vw;
    }
    
    .vert {
        flex-direction: row;
        flex-grow: 1;
        gap: 4.5vw;
    }

    .small-card > img {
        height: 230px;
        width: 27vw;
    }

    #frioul > img{
        height: 230px;
    }

    .act-text {
        margin-bottom: 30px;
    }

    footer {
        justify-content: space-between;
        gap: 20px;
    }
    

}

@media(max-width: 768px) 
{
    /* body
    {
        background-color: red;
    } */

    .logo, .search, .activities, .accomodations, footer
    {
        padding-right: 30px;
        padding-left: 30px;
    }

    header 
    {
        display: flex;
        flex-direction:  column;
    }

    .logo {
        width: 200px;
        margin-bottom: 20px;
    }

    .header-links 
    {
        justify-content: space-around;

        width: 100%;

        padding: 0;
    }

    .header-link {
        border-top: 0;
        border-bottom: 4px solid whitesmoke;
    }

    #hl-accomodations {
        width: 60%;
    }

    #hl-activities {
        width: 40%;
    }

    .header-link:hover
    {
        color: blue;
        border-top: 0;
        border-bottom: 4px solid blue;
    }

    .search {
        margin-top: 40px;
    }

    #hook-text1 {
        margin-bottom: 20px;
    }

    #hook-text2 {
        margin-bottom: 0;
    }

    .search-bar {
        width: 100%;

        margin: 45px 0;
    }

    /* .sb-field {
        padding-right: 0;
    } */

    .fa-magnifying-glass.fa-solid {
        display: flex;
        background-color: #5105ff;
        color: white;

        text-align: center;
        padding: 22px 0;

        border-radius: 20px;

        height: 100%;
        width: 20%;
        font-size: 24px;
    }

    .sb-submit {
        display: none;
    }

    .filters
    {
        flex-direction: column;
        align-items: flex-start;

        margin: 0;
    }

    .filters-text {
        margin-bottom: 20px;
    }

    .filter-links
    {
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
        row-gap: 20px;
    }

    .filter-link {
        margin-left: 0;
    }

    .filter-icon {
        background-color: #dee7ff;
    }

    .info {
        align-items: flex-start;

        margin: 30px 0;
    }

    .results {
        flex-direction: column-reverse;

        width: 100%;
        height: fit-content;

        padding: 0;
    }

    .accomodations
    {
        background-color: white;
        width: 100%; 
    }

    .a-card {
        width: 100%
    }

    .most-popular {
        width: 100%;

        padding: 50px 30px;
        border-radius: 0;
    }

    .mp-cards{
        padding: 0;
        gap: 15px;
    }

    .mp-card {
        height: 200px;
        width: 100%;
    }
    
    .mp-card-right {
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 100%;

        padding: 10px 0;
    }

    /* .mp-card-title {
        height: 51px;
    } */

    .mp-card-rate {
        padding: 10px 0;
    }

    .mp-img {
        width: 35%;
        height: 100%;
    }

    .activities {
        width: 100;
        flex-direction: column;
    }
    
    .act-cards
    {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }

    .a-img {
        height: 200px;
        width: 100%;
    }

    .big-card
    {
        width: 100%;
        height: 35vh;
    }

    .big-card>img
    {
        border-radius: 30px 30px 0 0;

        height: 80%;
        width: 100%;
        object-fit: cover;
    }

    .small-card{
        width: 100%;
        height: 35vh;
    }

    .vert {
        gap: 30px;
    }

    footer {
        flex-direction: column;
    }

    .section {
        flex-direction: column;
    }

    footer {
        padding-top: 0;
        padding-bottom: 0;
    }

    .section {
        width: 100%;
    }

    .section {
        margin: 50px 0;
    }

    .section > .link {
        width: 100vw;
    }

    .big-card > img, .small-card > img {
        height: 30vh;
    }

    .big-card, .small-card {
        height: auto;
    }

    #pomegues > img {
        height: 30vh;
    }

    #frioul > img {
        height: 30vh;
    }
    
}

