*
{
    padding: 0px;
    margin: 0px;

    box-sizing: border-box;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

/* Just padding everything! */
.header-link
{
    padding: 4vw 0px;
}

.header-links, .logo, .search, .results, .activities, footer
{
    padding-right: 60px;
    padding-left: 60px;
}


/*                          */


.small-text
{
    font-size: 26px;
}

.med-text
{
    font-size: 30px;
    font-weight: bold;
}

.big-text
{
    font-size: 36px;
    font-weight: bold;
}

.name-text
{
    font-size: 26px;
    font-weight: bold;
}

header 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* FIX */
.logo 
{
    width: 250px;
    height: fit-content;
    object-fit: contain;
}

.header-links
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.header-link 
{
    min-width: 10vw;

    text-align: center;
    border-top: 3px solid transparent;
}

.header-link:hover
{
    color: blue;
    border-top: 3px solid blue;
}


main
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search
{
    /* min-height: 40vh; */


    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.hook
{
    display: flex;
    flex-direction: column;

}

.hook-text
{
    margin-bottom: 8px;
}

.search-bar
{
    border: 2px solid whitesmoke;
    border-radius: 15px;

    width: 500px;
    height: 65px;

    margin: 20px 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sb-icon 
{
    background-color: whitesmoke;

    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;

    height: 100%;
    width: 15%;

    padding: 20px;

    text-align: center;
}

.sb-field
{
    width: 70%;

    padding: 20px;
}

.sb-submit
{
    background-color: blue;

    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;

    width: 30%;
    height: 100%;

    text-align: center;

    padding: 15px;

    color: white;
}

.sb-submit:hover
{
    background-color: rgb(0, 100, 255);
}

.filters
{
    margin: 30px 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.filters-text
{
    margin-right: 40px;
}

.filter-links
{
    /* flex: 2; */

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.filter-link
{
    border: 1px solid lightgray;
    border-radius: 30px;

    /* height: 50px; */

    /* padding: 10px; */
    margin: 0px 20px;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.filter-link:hover
{
    background-color: whitesmoke;
}

.filter-text
{
    padding: 0px 20px;
}

.filter-icon
{
    width: 60px;
    height: 60px;

    border: 2px solid lightblue;
    border-radius: 50px;
    background-color: lightblue;

    display: flex;
    justify-content: center;
    align-items: center;
}

.info 
{
    height: 3vh;

    margin: 20px 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-icon
{
    border: 2px solid lightgray;
    border-radius: 20px;

    width: 20px;
    height: 20px;

    margin-right: 10px;

    text-align: center;
}

.results
{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.accomodations
{
    border-radius: 20px;
    background-color: whitesmoke;

    /* min-height: 80vh; */
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 50px;
    margin-right: 40px;
}

.a-text
{
    padding-bottom: 40px;
}

.a-cards
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;

    row-gap: 50px;
}

.a-card
{
    border: 2px solid lightgray;
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 2px 5px grey;

    width: 30%;
    /* height: 250px; */

    padding: 5px;
}

.a-card:hover
{
    background-color: whitesmoke;
}

.a-img
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    width: 100%;
    height: 150px;
    object-fit: cover;
}

.a-show-more
{
    padding-top: 50px;
}

.most-popular
{
    border-radius: 20px;
    background-color: whitesmoke;

    /* height: 80vh; */
    width: 35%;

    display: flex;
    flex-direction: column;
    align-items: center;


    padding: 50px;
}

.label
{
    width: 100%;

    display: flex;
    justify-content: space-between;

    padding-bottom: 40px;
}

.mp-cards
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 100%;
    
    padding: 20px;

    gap: 40px;
}

.mp-card
{
    border: 2px solid grey;
    border-radius: 30px;
    background-color: white;
    box-shadow: 2px 2px 5px grey;

    height: 20vh;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    padding: 5px;
}

.mp-card:hover
{
    background-color: whitesmoke;
}

.mp-card-right
{
    width: 50%;
}

.mp-card-title
{
    width: 100%;

    /* text-overflow: ellipsis;
    white-space: nowrap; */
}

.mp-img
{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;

    width: 40%;
    height: 100%; 
    object-fit: cover;
}

.activities
{
    min-height: 70vh;
    width: 100%;

    margin-top: 50px;

    display: flex;
    flex-direction: column;
}

.act-cards
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 50px;
}

.big-card
{
    border: 2px solid whitesmoke;
    border-radius: 30px;

    width: 20vw;
    height: 60vh;
}

.big-card>img
{
    border-radius: 30px 30px 0 0;

    height: 90%;
    width: 100%;
    object-fit: cover;
}

.vert
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.small-card
{
    border: 2px solid whitesmoke;
    border-radius: 30px;

    width: 20vw;
    height: 25vh;
}

.small-card>img
{
    border-radius: 30px 30px 0 0;

    height: 80%;
    width: 100%;
    object-fit: cover;
}

footer
{
    background-color: whitesmoke;
    

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    padding-top: 60px;
    padding-bottom: 60px;
}

.section
{
    width: 35vw;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.category
{
    padding-bottom: 20px;
}

.link
{
    padding: 10px 0;
}

@media(max-width: 900px) 
{
    /* body
    {
        background-color: red;
    } */

    .header-links, .logo, .search, .results, .activities, footer
    {
        padding-right: 30px;
        padding-left: 30px;
    }

    header 
    {
        display: flex;
        flex-direction:  column;
    }

    .logo {
        width: 200px;
        margin-bottom: 20px;
    }

    .header-links 
    {
        justify-content: space-around;

        width: 100%;
    }

    .search-bar {
        width: 90%;
        align-self: center;
    }

    .filters
    {
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-links
    {
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .results {
        flex-direction: column-reverse;
    }

    .accomodations
    {
        background-color: white;
        width: 100%; 
    }

    .a-card {
        width: 100%
    }

    .most-popular {
        width: 100%;
    }

    .mp-card {
        width: 100%;
    }

    .activities {
        width: 100;
        flex-direction: column;
    }
    
    .act-cards
    {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }

    .big-card
    {
        width: 100%;
        height: 35vh;
    }

    /* .big-card>img
    {
        border-radius: 30px 30px 0 0;

        height: 60%;
        width: 100%;
        object-fit: cover;
    } */

    .small-card{
        width: 100%;
        height: 35vh;
    }

    .vert {
        gap: 30px;
    }

    footer {
        flex-direction: column;
    }

    .section {
        flex-direction: column;
    }

    .category{
        width: 100vw;
    }
}

