*
{
    padding: 0px;
    margin: 0px;

    box-sizing: border-box;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

/* Just padding everything! */
.header-link
{
    padding: 4vw 0px;
}

.header-links, .logo, .search, .results, .activities, footer
{
    padding-right: 60px;
    padding-left: 60px;
}


/*                          */

/* STUFF THAT NEEDS TO NOT SHRINK */

.filter-icon, .info-icon, .mp-card-title, .mp-card
{
    flex-shrink: 0;
}


.small-text
{
    font-size: 18px;
}

.med-text
{
    font-size: 24px;
    font-weight: bold;
}

.big-text
{
    font-size: 30px;
    font-weight: bold;
}

.name-text
{
    font-size: 20px;
    font-weight: bold;
}

header 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* FIX */
.logo 
{
    width: 250px;
    height: fit-content;
    object-fit: contain;
}

.header-links
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.header-link 
{
    text-align: center;
    border-top: 3px solid transparent;
}

.header-link:hover
{
    color: blue;
    border-top: 3px solid blue;
}

#hl-accomodations {
    width: 200px;
}

#hl-activities {
    width: 160px;
}

main
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search
{
    /* min-height: 40vh; */


    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.hook
{
    display: flex;
    flex-direction: column;

}

.hook-text
{
    margin-bottom: 8px;
}

.search-bar
{
    border: 2px solid whitesmoke;
    border-radius: 15px;

    width: 500px;
    height: 65px;

    margin: 20px 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sb-icon 
{
    background-color: whitesmoke;

    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;

    height: 100%;
    width: 15%;

    padding: 20px;

    text-align: center;
}

.sb-field
{
    width: 70%;

    padding: 20px;
}

.sb-submit
{
    background-color: blue;

    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;

    width: 30%;
    height: 100%;

    text-align: center;

    padding: 15px;

    color: white;
}

.sb-submit:hover
{
    background-color: rgb(0, 100, 255);
}

.filters
{
    margin: 30px 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.filters-text
{
    margin-right: 40px;
}

.filter-links
{
    /* flex: 2; */

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.filter-link
{
    border: 2px solid lightgray;
    border-radius: 32px;

    /* height: 50px; */

    /* padding: 10px; */
    margin: 0px 20px;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.filter-link:hover
{
    background-color: whitesmoke;
}

.filter-text
{
    padding: 0px 20px;
}

.filter-icon
{
    width: 60px;
    height: 60px;

    border-radius: 50px;
    background-color: #dee7ff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-icon > i {
    color:#5105ff;
} 

.info 
{
    margin: 20px 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-icon
{
    border: 2px solid lightgray;
    border-radius: 30px;

    width: 30px;
    height: 30px;

    margin-right: 10px;
    padding-top: 3px;

    text-align: center;
}

.info-icon > i {
    color: #5105ff;
}

.results
{
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    height: 95vh;
}

.accomodations
{
    border-radius: 30px;
    background-color: whitesmoke;

    /* min-height: 80vh; */
    height: 100%;   
    width: 75%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 50px;
    margin-right: 45px;
}

.a-text
{
    padding-bottom: 40px;
}

.a-cards
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;

    row-gap: 40px;
    height: 80%;
}

.a-card
{
    /* border: 2px solid lightgray; */
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 18px lightgrey;

    width: 30%;
    height: 46%;
    /* height: 280px; */

    padding: 7px;
}

.a-card:hover
{
    background-color: whitesmoke;
}

.a-img
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    width: 100%;
    height: 60%;
    object-fit: cover;
}

.a-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 10px;

    height: 40%;
}

.a-show-more
{
    padding-top: 50px;
}

.most-popular
{
    border-radius: 30px;
    background-color: whitesmoke;

    /* height: 80vh; */
    width: 35%;

    display: flex;
    flex-direction: column;
    align-items: center;


    padding: 50px;
}

.label
{
    width: 100%;

    display: flex;
    justify-content: space-between;

    padding-bottom: 40px;
}

.mp-cards
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 100%;
    height: 100%;

    gap: 40px;
}

.mp-card
{
    /* border: 2px solid grey; */
    border-radius: 26px;
    background-color: white;
    box-shadow: 0px 0px 20px lightgray;

    height: 30%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    flex-shrink: 0;

    padding: 7px;
}

.mp-card:hover
{
    background-color: whitesmoke;
}

.mp-card-right
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 15px;

    width: 50%;
}

.mp-card-title
{
    width: 100%;

    /* text-overflow: ellipsis;
    white-space: nowrap; */
}

.mp-img
{
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;

    width: 40%;
    height: 100%; 
    object-fit: cover;
}

.activities
{
    min-height: 70vh;
    width: 100%;

    margin-top: 50px;

    display: flex;
    flex-direction: column;
}

.act-cards
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 50px;
}

.big-card
{
    border: 2px solid whitesmoke;
    border-radius: 30px;

    width: 20vw;
    height: 60vh;
}

.big-card>img
{
    border-radius: 30px 30px 0 0;

    height: 90%;
    width: 100%;
    object-fit: cover;
}

.vert
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.small-card
{
    border: 2px solid whitesmoke;
    border-radius: 30px;

    width: 20vw;
    height: 25vh;
}

.small-card>img
{
    border-radius: 30px 30px 0 0;

    height: 80%;
    width: 100%;
    object-fit: cover;
}

footer
{
    background-color: whitesmoke;
    

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    padding-top: 60px;
    padding-bottom: 60px;
}

.section
{
    width: 35vw;
    height: fit-content;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.category
{
    padding-bottom: 20px;
}

.link
{
    padding: 10px 0;
}

@media(max-width: 1300px) and (min-width: 850px) {
    .header-links, .logo, .search, .results, .activities, footer
    {
        padding-right: 30px;
        padding-left: 30px;
    }

    .filter-links {
        flex-wrap: wrap;
        justify-content: flex-start;
        row-gap: 10px;
    }

    .filters-text {
        height: 100%;
        padding: 15px 0px;

        align-self: flex-start;
    }

    .results {
        flex-direction: column;

        height: fit-content;
    }

    .accomodations {
        width: 100%;
        margin-bottom: 20px;
        height: 90vh;
    }

    .most-popular {
        flex-direction: column;

        width: 100%;
        height: 50vh;

        padding: 50px 30px;
    }

    .mp-cards {
        flex-direction: row;
        gap: 10px;
        padding: 0;
    }

    .mp-card {
        border-radius: 20px;
        background-color: white;
        box-shadow: 0px 0px 18px lightgrey;

        width: 30%;
        height: 80%;
        /* height: 280px; */

        padding: 7px;
    }

    .mp-img {
        border-bottom-left-radius: 0;
        border-top-right-radius: 20px;

        width: 100%;
        height: 60%;
    }

    .mp-card-right {
        flex-direction: row;
        width: 100%;
        height: 40%;
    }

    .activities {
        margin-bottom: 30px;
    }

    .act-text {
        margin-bottom: 30px;
    }
}

@media(max-width: 850px) 
{
    /* body
    {
        background-color: red;
    } */

    .logo, .search, .activities, .accomodations, footer
    {
        padding-right: 30px;
        padding-left: 30px;
    }

    header 
    {
        display: flex;
        flex-direction:  column;
    }

    .logo {
        width: 200px;
        margin-bottom: 20px;
    }

    .header-links 
    {
        justify-content: space-around;

        width: 100%;

        padding: 0;
    }

    .header-link {
        border-top: 0;
        border-bottom: 4px solid whitesmoke;
    }

    #hl-accomodations {
        width: 60%;
    }

    #hl-activities {
        width: 40%;
    }

    .header-link:hover
    {
        color: blue;
        border-top: 0;
        border-bottom: 4px solid blue;
    }

    .search {
        margin-top: 40px;
    }

    #hook-text1 {
        margin-bottom: 20px;
    }

    #hook-text2 {
        margin-bottom: 0;
    }

    .search-bar {
        width: 100%;

        margin: 45px 0;
    }

    .filters
    {
        flex-direction: column;
        align-items: flex-start;

        margin: 0;
    }

    .filters-text {
        margin-bottom: 20px;
    }

    .filter-links
    {
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
        row-gap: 20px;
    }

    .filter-link {
        margin-left: 0;
    }

    .filter-icon {
        background-color: #dee7ff;
    }

    .info {
        align-items: flex-start;

        margin: 30px 0;
    }

    .results {
        flex-direction: column-reverse;

        width: 100%;
        height: fit-content;

        padding: 0;
    }

    .accomodations
    {
        background-color: white;
        width: 100%; 
    }

    .a-card {
        width: 100%
    }

    .most-popular {
        width: 100%;

        padding: 50px 30px;
        border-radius: 0;
    }

    .mp-cards{
        padding: 0;
        gap: 15px;
    }

    .mp-card {
        height: 200px;
        width: 100%;
    }
    
    .mp-card-right {
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 100%;

        padding: 10px 0;
    }

    .mp-card-title {
        height: 51px;
    }

    .mp-card-rate {
        padding: 10px 0;
    }

    .mp-card-rating {
        flex: 1;
        padding-top: 55px; /* huh? */
    }

    .mp-img {
        width: 35%;
        height: 100%;
    }

    .activities {
        width: 100;
        flex-direction: column;
    }
    
    .act-cards
    {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }

    .a-img {
        height: 200px;
        width: 100%;
    }

    .big-card
    {
        width: 100%;
        height: 35vh;
    }

    .big-card>img
    {
        border-radius: 30px 30px 0 0;

        height: 80%;
        width: 100%;
        object-fit: cover;
    }

    .small-card{
        width: 100%;
        height: 35vh;
    }

    .vert {
        gap: 30px;
    }

    footer {
        flex-direction: column;
    }

    .section {
        flex-direction: column;
    }

    footer {
        padding-top: 0;
        padding-bottom: 0;
    }

    .section {
        width: 100%;
    }

    .section {
        margin: 50px 0;
    }

    .section > .link {
        width: 100vw;
    }
    
}

